opencv-python # Have to install and run py -3.10 pip install -r requirements.txt in cmd as python 3.10 is not the default python version on my pc
mediapipe
tensorflow # We can use torch or torchvision as well
